.user {
  width: 730px;
  margin: 0 auto;
  margin-top: 64px;

  .back {
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    gap: 23px;
    cursor: pointer;
    
    &:hover{
      opacity: 0.7;
    }

    ion-icon {
      color: #7c5dfa;
      font-size: 15px;
    }
    button {
      border: none;
      background-color: transparent;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.25px;
      color: #0c0e16;
    }
  }

  &__section {
    margin-bottom: 26px;
    width: 100%;
    background-color: #fff;
    padding: 24px 32px;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__btns {
      display: flex;
      align-items: center;
      column-gap: 8px;

      button {
        padding: 17px 24px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        border-radius: 24px;
        border: none;
        outline: none;
      }
      button:first-child {
        background: #f9fafe;
        color: #7e88c3;
      }
      button:first-child:hover{
        opacity: 0.7;
      }
      button:nth-child(2) {
        background: #ec5757;
        color: #fff;
      }
      button:nth-child(2):hover{
        opacity: 0.7;
      }
      button:nth-child(3) {
        background: #7c5dfa;
        color: #fff;
      }
      button:nth-child(3):hover{
        opacity: 0.7;
      }
    }
    &__status {
      display: flex;
      align-items: center;
      column-gap: 16px;

      span {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        color: #858bb2;
      }

      button {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        // color: #FF8F00;
        // background: #fcf6f0;
        padding: 13px 29px;
        border-radius: 6px;
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        border: none;

        span {
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }
    }
  }

  &__info {
    background-color: #fff;
    padding: 51px 48px 48px 48px;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;

    &_desc {
      display: flex;
      align-items: center;
      column-gap: 150px;
      margin-bottom: 32px;
    }
    &_wrap {
      span {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        color: #7e88c3;
        display: block;
        margin-bottom: 12px;
      }
      p {
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.3125px;
        color: #0c0e16;
      }
    }
    &_id {
      margin-bottom: 49px;

      p {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.8px;
        color: #888eb0;
        margin-bottom: 8px;
      }
      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        color: #7e88c3;
        display: block;
      }
    }

    &_payment {
      margin-bottom: 50px;
      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        color: #7e88c3;
        display: block;
        margin-bottom: 12px;
      }
      p {
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.3125px;
        color: #0c0e16;
      }
    }
    &_amount {
      padding: 24px 32px;
      background-color: #373b53;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;

      span {
        font-weight: 500;
        font-size: 11px;
        line-height: 18px;
        letter-spacing: -0.229167px;
      }
      p {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: right;
        letter-spacing: -0.5px;
      }
    }
  }
}
